<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${brand}"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" style="padding-top: 11px;">
					<span style="padding-right: 5px;color:#fff" th:text="${brand}">
						<!-- <img style="height: 40px; width: auto;" alt="Brand" src="mTrak.ico" /> -->
					</span>
				</a>
			</div>
		</div>
	</nav>
		<span th:substituteby="commons :: common-html"></span>
		<span th:substituteby="commons :: common-js"></span>
		<span th:substituteby="commons :: common-css"></span>
		<div class="container" style="padding-top: 60px;" >
			<div th:replace="${page + '/' + page}"></div>
		</div>
		
		
	</body>
</html>